<h2>Here are your links!</h2>

<ul id="links">
<% @links.each do |link| %>
  <li>
    <a href = <%=link.url%> ><%= link.title %></a>
  </li>
<% end %>
</ul>

<h1>Click here to add a new link:</h1>
<a href='/add'>Add link</a>
