<h1>Here are your links!</h1>

<h1>Click here to add a new link:</h1>
<a href='/add'>Add link</a>

<ul id="links">
<% @links.each do |link| %>
  <li>
    <a href = <%=link.url%> ><%= link.title %></a>
    <!-- Tags are: <%= link.tags.get(link.title) %> -->
  </li>
<% end %>
</ul>
